# OS
.DS_Store

# Cursor
.superpowers/
cursor-docs

# Editors
.idea/
.vscode/*
!.vscode/settings.json

# Make
.makefiles/

# MkDocs
site/

# Python
.venv/
__pycache__/
.mypy_cache/
.ruff_cache/
.pytest_cache/
dist/
build/
*.egg-info/
